<p id="notice"><%= notice %></p>

<p>
  <strong>Source url:</strong>
  <%= @conversion.source_url %>
</p>

<%= link_to 'Edit', edit_conversion_path(@conversion) %> |
<%= link_to 'Back', conversions_path %>
